<h2><%= @cocktail.name %></h2>

<%= link_to "add new dose", new_cocktail_dose_path(@cocktail) %>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %></p>
  <p><%= dose.description %></p>
<p><td><%= button_to 'Delete', cocktail_dose_path( cocktail_id: @cocktail.id, id: dose.id) , :method=>:delete  %></td></p><br>
<% end %>
